.containerCima{
    margin-top: 100px;
    display: flex;
    height: 55vh;
    width: 100vw;
    justify-content: space-around;

}
.containerCima img{
    width: 400px;
    height: 400px;
}
.boxButton{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

}
.palavra{
    margin-bottom: 50px;
}
.containerCima button{
    height: 57px;
    margin-top: 50px;
    background-color: rgb(17, 182, 17);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 0 20px 0 20px;
    
}

.containerLetras{
    display: flex;
    justify-content: center;
    align-items:center ;
    margin-bottom: 50px;

}
.containerLetras button{
    width: 50px;
    height: 50px;
    margin: 5px 5px;
    color: #39739D;
    background-color: #E1ECF4;
    border-radius: 4px solid #7AA7C7;
    outline: none;
}
.vermelho{
    color: red;
}
.verde{
    color: rgb(20, 185, 20);
}
